    @import url("default.css");

   .week {
        page-break-after: avoid;
        page-break-inside: avoid;
        position: relative;
    }

    .weektitle {
        opacity: 0.2;
        position: absolute;
        right: 1em;
        top: 0.3em;
        text-align: right;
        margin: 0; padding: 0;
    }

    .day {
        width: auto;
        border: none;
        border-bottom: 2px dotted #ccc;
        margin: 0;
        height: 28px;
    }

    .progress {
        bottom: -2px;
        border-bottom: 2px solid #aaa;
    }

    /* Progress border was getting vertically offset by 1px when printed */
    @media print {
        .progress {
            bottom: -1px;   
        }
    }

    .day h1 {
        text-align: left;
    }

    .day .dayname,
    .day .daynumber,
    .day .suffix sup {
        color: #666;
        font-weight: normal;
        display: inline-block;
        vertical-align: middle;
        font-size: 50%;
    }

    .day .hours,
    .day .month,
    .day .year {
        display: none;
    }
